.verticalList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listOption {
    width: 100%;
    font-size: 1.25rem;
    border-radius: 2px solid var(--ds-color-text-muted);
    padding: 1rem 1.25rem;
}
